.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  padding: 1rem;
  background-color: var(--background-secondary);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 75%;
  animation: slideDown 0.5s ease-in-out;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 32px;
  color: var(--text-secondary);
  transition: color 0.2s;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.closeButton:hover {
  color: var(--text-primary);
}

.image {
  width: 350px;
}

.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.contentGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  color: var(--text-secondary);
}

.title {
  font-size: 24px;
}

.description {
  line-height: 25px;
}

.priceRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 28px;
  font-weight: 600;
}

.buyButton {
  background-color: var(--button-color);
  padding: 1rem 2rem;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  transition: all 0.25s ease-in-out;
}

.buyButton:hover {
  transform: scale(1.02);
  opacity: 90%;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@media (min-width: 2000px) {
  .modal {
    width: 40%;
  }
}

@media (min-width: 1400px) {
  .modal {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .modal {
    width: 80%;
  }

  .image {
    width: 300px;
  }
}

@media (max-width: 830px) {
  .modal {
    flex-direction: column;
  }

  .image {
    width: 250px;
  }
}

@media (max-width: 425px) {
  .modal {
    width: 95%;
    max-height: 85vh;
    overflow-y: auto;
  }

  .image {
    width: 200px;
  }

  .label {
    font-size: 14px;
  }

  .title {
    font-size: 20px;
  }

  .buyButton {
    font-size: 16px;
  }

  .price {
    font-size: 24px;
  }

  .description {
    max-height: 200px;
    overflow-y: auto;
    padding-right: 0.5rem;
  }
}
