.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}
.noMatchesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 0;
}

.image {
  width: 8rem;
  height: 8rem;
}

.text {
  font-size: 26px;
}
