.main {
  flex: 1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.title {
  font-size: 32px;
  font-weight: 300;
  color: var(--text-secondary);
}

.productsList {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 740px) {
  .productsList {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .productsList {
    padding: 1rem 0;
  }

  .title {
    font-size: 24px;
  }
}
