.header {
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-primary);
  transition: opacity 0.4s ease-in-out;
}

.logo:hover {
  opacity: 80%;
}
