.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.input {
  width: 50%;
  border: none;
  background: none;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 1rem 2.5rem 1rem 3rem;
  background-image: url('/assets/search-icon.svg');
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 20px;
  color: var(--text-secondary);
  font-size: 16px;
}

.clearButton {
  position: absolute;
  right: calc(25% + 12px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  transition: color 0.2s;
}

.clearButton:hover {
  color: var(--text-primary);
}
