.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--border-color);
}

.text {
  color: var(--text-secondary);
}
