.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

.loadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 4rem 0;
}

.text {
  font-size: 26px;
}

.spinner {
  animation: Spin 1s linear infinite;
}

.circle {
  animation: CircleFill 2s linear infinite alternate;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes CircleFill {
  from {
    stroke-dasharray: 10, 100;
  }
  to {
    stroke-dasharray: 100, 100;
  }
}
